#!/usr/bin/env bash

pacman_pkgs_to_install=(
{{ range (.install.packages.pacman | uniq) -}}
  "{{ . }}"
{{ end -}}
)

if [ ${#pacman_pkgs_to_install[@]} -gt 0 ]; then
  sudo pacman -Sy \
    --needed \
    --noconfirm \
    --quiet \
    "${pacman_pkgs_to_install[@]}"
fi

mise install
