{{- $fields := (bitwarden "item" "Dotfiles Input").fields -}}

sourceDir = {{ .chezmoi.config.sourceDir | quote }}

[bitwarden]
  unlock = "auto"

[data]
{{- range $field := $fields }}
  {{ $field.name }} = {{ $field.value | quote }}
{{- end }}
  font = "JetBrainsMono Nerd Font"
  tmux_tpm_path_rel_to_home = ".local/share/.tmux/plugins/tpm"

[merge]
  command = "nvim"
  args = [
    "-d",
    {{ printf "%q" "{{ .Destination }}" }},
    {{ printf "%q" "{{ .Source }}" }},
    {{ printf "%q" "{{ .Target }}" }},
  ]
