sourceDir = {{ .chezmoi.config.sourceDir | quote }}

[bitwarden]
  unlock = "auto"

[data]
  name = {{- promptStringOnce . "name" "Git Name" "changeme" | quote }}
  email = {{- promptStringOnce . "email" "Git Email" "changeme@email.com" | quote }}
  font = "JetBrainsMono Nerd Font"

[merge]
  command = "nvim"
  args = [
    "-d",
    {{ printf "%q" "{{ .Destination }}" }},
    {{ printf "%q" "{{ .Source }}" }},
    {{ printf "%q" "{{ .Target }}" }},
  ]
