{{- if eq .chezmoi.os "linux" -}}
{{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
XDG_CONFIG_HOME=%h/.config
XDG_CACHE_HOME=%h/.cache
XDG_DATA_HOME=%h/.local/share
XDG_STATE_HOME=%h/.local/state
{{-   end -}}
{{- end -}}
