timeout: 5

/Arch Linux (linux)
    protocol: linux
    path: boot():/vmlinuz-linux
    cmdline: cryptdevice=PARTUUID={{ bootloader_blkid_output.stdout | trim }}:root root=/dev/mapper/root zswap.enabled=0 rootflags=subvol=@ rw rootfstype=btrfs quiet splash
    module_path: boot():/initramfs-linux.img

/Arch Linux (linux-lts)
    protocol: linux
    path: boot():/vmlinuz-linux-lts
    cmdline: cryptdevice=PARTUUID={{ bootloader_blkid_output.stdout | trim }}:root root=/dev/mapper/root zswap.enabled=0 rootflags=subvol=@ rw rootfstype=btrfs quiet splash
    module_path: boot():/initramfs-linux-lts.img
